/* hoja1.css */
header {
	background-color: #aafffc;
}
.cabecera {
	font-size: 1.4em;
}
img {
	vertical-align: middle;
}
ul {
	background-color: #90f9c8;
}
li {
	display: inline-block;
	width:  24%;
}
main {
	background-color: #ffdca5;
}
section {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}